main{
    margin: 0 auto;
    display: flex;
    width:50%;
    height:100vh;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.section_petinfo{
    padding:1em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width:25.5em;
    
}

.section_petinfo h1{
    font-size:2em;
    line-height: 150%;
    font-weight: 600;
    
 }

 .section_petinfo h2{
    font-size:2em;
    line-height: 150%;
    font-weight: 600;
    color: var(--brand100);
}

.section_petinfo p{
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
}

.contanier_fotosPets{
    width: 18em;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.8em;
    position: relative;

}

.pet3{
    height: 93px;
    width: 88px;
}

.pet4{
    height: 90px;
    width: 190px;

}

.pet5{
    position:absolute;
    right: 0px;
    top: 0px;
}

.section_cadastro{
    padding: 3em 1em;
    width: 21em;
    height:auto;
    display: flex;
    flex-direction:column;
    border: 1px solid var(--gray600);
    gap:2em;
    border-radius: 4px;
}

.contanier_cadastro{
    display: flex;
    flex-direction: row;
    width: 19em;
    justify-content: space-between;
    align-items: center;
}

.contanier_cadastro h1{
     font-size: 20px;    
}

.contanier_cadastro button{
    width:10em;
    height:2.2em;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    background-color:var(--gray900);
    border: 1px solid 
    #D9D9D9;
    border-radius: 4px;
    cursor: pointer;
}

.contanier_dados{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 2em;
}

.section_cadastro input{
    height: 44px;
    width: 22.6em;
    display: block;
    border-radius: 4px;
    border: none;
    background-color:var(--gray600);
    padding-left: 0.8em;
    color:var(--gray400);
}

.section_cadastro label{
    display: flex;
    flex-direction: column;
    font-weight:600;
    gap:1em;
}

.bnt_cadastrar{
    color:var(--gray900);
    background-color: var(--brand100);
    border: none;
    height: 38px;
    width: 22.6em;
    border-radius: 4px;
    cursor: pointer;
}
    
.bnt_voltar{
        color:#212529;
        font-weight:bold;
        background-color:var(--gray900);
        border: 1px solid hsl(210, 16%, 93%);
        height: 38px;
        width: 22.6em;
        border-radius: 4px;
        cursor: pointer;
}